.layout {
  height: 100vh;
}

.fixedHeader {
  position: fixed;
  width: 100%;
  min-width: 1000px;
  z-index: 2;
}

.cardHeader {
  width: 100%;
  height: 48px;
  margin-top: 64px !important;
}

.content {
  min-width: 770px;
  background: #fff;
  margin-top: 48px;
}

.defaultLayoutContent {
  min-width: 770px;
  margin-top: 64px;
  background: #fff;
}

//
.container {
  display: flex;
  height: 100%;
  position: relative;
  min-width: 770px;
  background: #fff;
  margin-top: 112px;
}

.isMoreFilter {
  overflow: hidden;
}

.googleMap {
  width: 40% !important;
  float: right;
}

.blurContent {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.3;
  z-index: 1;
}

.bodyDrawer {
  border-top: 1px solid #e8e8e8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 48px);
}

.btnFooter {
  display: flex;
  float: right;
  padding-bottom: 8px;
}

.row {
  margin-top: 10px;
}

.titleCol {
  margin-top: 10px;
}

.directionSelect {
  min-width: 200px;
}

.responsiveMap {

  //@media (max-width: 300px) {
  //  display: none;
  //}
}
